$primary: rgb(0, 132, 255);
$error: red;
$background-one: #B5DCEB;
$overlay: rgb(194, 187, 196);
$background-two: #CC59D2;
$footer: #0a0a0a;
$third: #FDE12D;


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"); 

body {
    font-size: 16px;
    color: $footer;
    padding: 0%;
    margin: 0%;
    margin-top: 0%;
    font-family: 'Fira Sans', sans-serif; 
}

html {
    box-sizing: border-box;
    margin-top: 0%;
    padding-top: 0%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    scroll-behavior: smooth;
  }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none !important;
    color: $footer !important;
    :hover,
    :active,
    :visited {
        text-decoration: none !important;
        color: $background-two !important;
    }
}

.text-end a {
    float: right;
}

.product-links {
    text-decoration: none !important;
    color: $footer !important;
    :hover,
    :active,
    :visited {
        text-decoration: none !important;
        color: $footer !important;
    }
}


.footer-height{
    height: 150px;
    background-color: $footer;
    // opacity: 1;
    --bs-bg-opacity: 1;
}

header{
    height: 100px;
}

.navbar-header{
    height: 150px;
}
.navbar-custom {
    background-image: none;
}

.cart {
    color: $third;
}


/* TITLE */

 #background {
    background-image: url("./images/cover-image-christine.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-width: 100vw;
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.title-container {
    position: absolute;
    left: 55%;
    top: 65%;
} 

.tagline{
    font-size: xx-large;
    font-weight: bold;
}

.arrow-down {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

@keyframes arrowAnimation {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.bounce {
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: reverse; 
}

.arrow {
    font-weight: bold;
    font-size: xx-large;
}

/* MAIN SECTION */
// .portfolio {
//     background-color: $background-one;
// }

.services {
    background-color: $background-two;
}

/* MODAL */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 187, 196, 0.9);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
}

.modal-container {
    padding: 30px;
    margin: 30px;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.close-btn {
    position: fixed;
    text-align: end;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    float: right;
    padding: 30px;
    left: 90%;
}

.pointer {cursor: pointer;}

.error-message-all {
	font-size: 0.85rem;
	color: $error;
	text-align: center;
	margin: 1rem 0;
	display: none;
}

.error-message {
	font-size: 0.85rem;
	color: $error;
}

.error-message-signup-all {
	font-size: 0.85rem;
	color: $error;
	text-align: center;
	margin: 1rem 0;
	display: none;
}

.error-message-signup {
	font-size: 0.85rem;
	color: $error;
}

.signup-success-message {
    display: none;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;

 .sep {
    padding: 0 5px;
  }
}


.product {
    border:0.5px solid #adb5bd;
    height: 300px;
    // max-width: 80%;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    .image {
        overflow: hidden;
        height: 100%;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        img {
            max-height: 80%;
            max-width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .info {
        background-color: $third;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        min-height: 100%;
        color: #212529 !important;
        opacity: 0;
        transition: all .25 ease;
        width: 100%;
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
    .info:hover {
        opacity: 70%;
        
    }

}

.blue {
    background-color: $background-one;
}

.pink {
    background-color: $background-two;
}

.yellow {
    background-color: $third;
}

.responsive-image {
    max-width: 100%;
}

.signupMsg {
    height: 200px;
}

.login-bg {
    background-color: $background-one;
}

